<div ng-controller="HomeController">
<form name="signIn" ng-submit="login()">
  <input type="text" placeholder="Enter UserName" ng-model="data.user">
  <button type="button" id="login">Log In</button>
</form>

<form name="searchForm" ng-submit="addSearch()" novalidate>
  <input type="text" placeholder="Enter Google Search" ng-model="data.search" required>
  <button type="button" id="search">Search!!!</button>
</form>
<button type="button" ng-click="createRoom()">Play Game</button>
{{socket}};
</div>