<div ng-controller="HomeController" ng-init='init()'>
<button type="button" ng-click="userInfoTest()">info Test</button>
<button type="button" ng-click="getQueries()">queryTest</button>
<button type="button" ng-click="playFriends()">play friends</button>
<div ng-repeat="game in data.yourTurn" ng-click="start(game)"> {{game}} </div>
<form name="signIn" ng-submit="login()">
  <input type="text" placeholder="Enter UserName" ng-model="data.username">
  <input type="text" placeholder="Enter Password" ng-model="data.password">
  <button id="login">Log In</button>
</form>
</br>
</br> 
<button type='button' ng-click="test()">randomGame</button>

<form name="searchForm" ng-submit="addQuery()" novalidate>
  <input type="text" placeholder="Enter Google Search" ng-model="query.search" required>
  <button type="submit" id="search">Search!!!</button>
</form>
<button type="button" ng-if='status' ng-click="createRoom()">Play Game</button>
<div ng-if="!status">Waiting for opponent</div>
<div ng-if="data.usersOnline" ng-repeat="user in $data.usersOnline">{{user}}</div>
</div>
<script type="application/ld+json">

{ 
    "@context" : "http://schema.org",
    "@type" : "Product",
    "description" : "This ring from American West doesn't just make a statement it celebrates Western culture. A cluster of clear blue Sleeping Beauty turquoise gemstones come together in a bold oval flower inspired by designs in traditional Zuni and Navajo jewelry. The sterling silver shank features textured Western and feather motif accents. Ring face measures 1 by 3/4 inches.",
    // "image" : "http://jewelry2.dev/media/catalog/product/cache/1/image/265x/9df78eab33525d08d6e5fb8d27136e95/images/catalog/product/placeholder/image.jpg",
    "name" : "Turquoise Cluster Ring",
    "gtin14" : "",
    "color" : "White",
    "sku" : "7-3869-900P",
    "brand" : [{
        "@type" : "Person",
        "name" : "American West"
    }],
    "audience" : [{
        "@type" : "Audience",
        "audienceType" : "Women's"
    }],
    "offers" : [{
        "@type" : "Offer",
        "price": "129.00",
        "priceCurrency": "USD",
        // "availability" : "  In Stock  ",
        "itemCondition" : "New"
    }]
}
</script>

