<div ng-controller="AuthController">
  <fb:login-button scope="public_profile,email,friend_list" onlogin="checkLoginState();">
</fb:login-button>
<div id="status"></div>
</div>
<div ng-controller="HomeController">
<form name="signIn" ng-submit="login()">
  <input type="text" placeholder="Enter UserName" ng-model="data.username">
  <input type="text" placeholder="Enter Password" ng-model="data.password">
  <button id="login">Log In</button>
</form>
</br>
</br>

<form name="searchForm" ng-submit="addQuery()" novalidate>
  <input type="text" placeholder="Enter Google Search" ng-model="data.search" required>
  <button type="button" id="search">Search!!!</button>
</form>
<button type="button" ng-click="createRoom()">Play Game</button>
<div ng-if="data.usersOnline" ng-repeat="user in $data.usersOnline">{{user}}</div>
</div>